/* ---------------------- Google Font ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/* --------------------- may delete later --------------------- */

/* video {
  width: 800px;
} */

/* ---------------------- ASSETS ---------------------- */

body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
}

:root {
  --blue: #0e6cf1;
  --purple-blue: #2437bf;
  --gray: #c1cad1;
  --font-black: #333;
  --bg-color: #dae1f8;
  --section-title: 60px;
  --section-subtitle: 22px;
  --section-subtitle-mb: 20px;

  --section-content-size: 18px;
  --section-padding: 100px;
  --section-title-mb: 40px;

  --section-br: 50px;
}

/* ---------------------- RESET ---------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-black);
}

/* -------------------------- MAIN CONTAINER --------------------------  */
.main-container {
  padding: 0 40px;
  position: absolute;
}

/* -------------------------- NAVBAR -------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1000;
  border-bottom: 1px solid transparent;

  padding: 30px 40px;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--second-bg-color);
}

.logo {
  width: 200px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: var(--blue);
}

header .logo-menu {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 50px;

  transition: all 0.1s;
}

.logo-menu:hover {
  transform: translateY(-5px);
}

.logo-menu:active {
  transform: translateY(5px);
}

/* ---------------------- lAN SWITCH ---------------------- */
.lan-switch-box {
  width: 150px;
  margin: 0px auto;
  position: relative;
  border-radius: 30px;
  background: #bdbdbd;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.toggle-btn {
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;

  font-size: 18px;
  color: white;
}

#btn {
  left: 0px;
  top: 0;
  position: absolute;
  width: 75px;
  height: 100%;
  background: #2437bf;
  border-radius: 30px;
  transition: 0.5s;
}
/* ---------------------- HERO SECTION ---------------------- */
.hero {
  margin-top: var(--section-padding);
}

.hero .top-col {
  min-height: 100vh;
  display: flex;

  align-self: flex-start;
}

.logo-menu {
  display: none;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  overflow: hidden;
}

.card.active {
  flex: 5;
}

.card .content {
  position: absolute;
  bottom: -35%;

  margin: 0;
  opacity: 0;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card.active .content {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  background: rgba(85, 115, 214, 0.473);
  width: 100%;
  padding: 30px;
}

.card h3 {
  font-size: 40px;
}

.card p {
  font-size: 20px;
  width: 50%;
}

.card .content {
  transition: all 250ms ease-in;
}

/* todo: hover transition duration time don't work */
.card .content:hover {
  height: 130%;
}

.card .content .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}

.check-box i {
  font-size: 30px;
}

.check-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check-container .learn-more-btn {
  border: 2px solid white;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;

  align-self: flex-start;
}

.check-container .learn-more-btn:hover {
  background-color: #0e6cf1;
  border: none;
}

.hero .bottom-col .capability img {
  min-width: 200px;
}

.hero .bottom-col .capability {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.hero .bottom-col .capability .card-1 {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
}

/* ---- TRUST BRANDS ---- */

.hero .trust-brands {
  padding: 60px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero .trust-brands .box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.hero .trust-brands img:not(.bosch-logo) {
  width: 100px;
}

/* ---------------------- INTRO-CUSTOMIZED ----------------------  */

.intro-customized {
  background-color: #fff;
  border-radius: 50px;
  padding: var(--section-padding);
}

.intro-customized h1 {
  font-size: var(--section-title);
  text-align: center;
  margin-bottom: 40px;
}

.intro-customized .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.intro-customized .content img {
  max-width: 300px;
  /* align-self: center;
  justify-self: center; */
  /* justify-self: center; */
  align-self: flex-end;
  margin: 0 auto;

  /* border: 2px solid red; */
}

.intro-customized .content h3 {
  font-size: var(--section-subtitle);
  margin-bottom: var(--section-subtitle-mb);
}

.intro-customized .content p {
  font-size: var(--section-content-size);
}

/* ---------------------- INTRO-MANUFACTURING ----------------------  */

.intro-manufacturing {
  padding: 100px 0;
}

.intro-manufacturing h1 {
  font-size: var(--section-title);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
}

.intro-manufacturing .content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.intro-manufacturing .content .card-3 {
  display: flex;

  align-items: center;

  margin-left: 40px;
  font-size: 20px;
  padding: 20px 0;
  gap: 20px;
}

.intro-manufacturing .content img {
  width: 100px;
}

/* ---------------------- INTRO ORDER ---------------------- */

.intro-order {
  background-color: #fff;
  border-radius: 50px;
  padding: var(--section-padding);
}
.intro-order h1 {
  font-size: var(--section-title);
  text-align: center;
  margin-bottom: 40px;
}

.intro-order .content {
  display: flex;
  gap: 30px;
}

.intro-order .content .card-5 {
  display: flex;
  flex-direction: column;
}

.intro-order .content img {
  width: 150px;
  margin-bottom: 20px;

  align-self: center;
}

.intro-order .content .info {
  display: flex;
  align-items: center;

  gap: 10px;
}

.intro-order .content .info .number {
  font-size: 100px;

  align-self: center;
}

.intro-order .content .info h3 {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.intro-order .content .info .info-text p {
  font-size: 18px;
}

/* ---------------------- INTRO VIDEO ---------------------- */

.intro-video {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.intro-video h1 {
  font-size: var(--section-title);
  text-align: center;
  margin-bottom: var(--section-title-mb);
}

.intro-video video {
  max-width: 100%;
  height: auto;
}

/* ---------------------- ORDER-FOOTER-CONTAINER ---------------------- */

.order-footer-container {
  background-color: #e1e1e1;
  height: 100%;
  border-top-left-radius: var(--section-br);
  border-top-right-radius: var(--section-br);
}

/* ---------------------- ORDER-ONLINE ---------------------- */

.order-online {
  background: linear-gradient(
      0deg,
      rgba(105, 105, 105, 0.3),
      rgba(0, 119, 255, 0.3)
    ),
    url("./images/ad/image-for-order-ad.jpeg");
  /* background-position: center;
  background-repeat: no-repeat; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--section-br);
  padding: var(--section-padding);

  min-height: 100%;
}

.order-online h1 {
  font-size: var(--section-title);
  color: #fff;
}

.order-online .left-col .context {
  margin-bottom: 40px;
}

.order-online .left-col p {
  color: #fff;

  font-size: 22px;
}

.order-online .left-col .get-quo-btn {
  background-color: #0e6cf1;
  padding: 15px 30px;

  font-size: 22px;
  border-radius: 30px;

  color: #fff;
}

.order-online .left-col .get-quo-btn:hover {
  background-color: transparent;
  border: 2px solid #fff;
}

footer {
  width: 100%;

  z-index: -1;

  padding: 20px 40px;
  margin-top: 40px;
}

footer .top-col {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

footer .top-col h4 {
  margin-bottom: 10px;
}

footer .top-col nav {
  margin-bottom: 20px;
}

.xometry-oversea {
  margin-bottom: 20px;
}

footer .top-col nav ul li {
  display: flex;
  align-items: center;
}

footer a:hover {
  color: var(--purple-blue);
}

footer .xometry-oversea img {
  width: 50px;
  margin-bottom: 10px;
}

footer .bottom-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

/* ---------------------- ANIMATION ---------------------- */

/* ---------------------- RESPONSIVE ---------------------- */
@media (max-width: 1233px) {
  header nav ul {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
  }

  .hero {
    margin-top: 160px;
  }

  .intro-customized .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .intro-order .content {
    flex-wrap: wrap;
  }
}

@media (max-width: 896px) {
  header {
    padding: 0;
  }
  .navbar {
    display: none;
  }

  .logo {
    display: none;
  }
  header nav ul {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }

  .logo-menu {
    display: flex;
  }

  .navbar-wrapper {
    background-color: var(--bg-color);
    transition: all 0.3s;
    height: 100%;
    border: 2px solid rgba(255, 0, 0, 0);
  }

  header.sticky {
    background: transparent;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  .hero .top-col {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
@media (max-width: 747px) {
  .intro-customized {
    margin-top: 40px;
  }

  .hero {
    margin-top: 100px;
  }

  .hero .trust-brands {
    display: none;
  }

  .intro-manufacturing .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .intro-video {
    padding-left: 0;
    padding-right: 0;
  }

  /* .intro-video h1 {
    font-size: 40px;
  } */

  :root {
    --section-title: 40px;
    --section-padding: 40px;
  }

  /* .hero .bottom-col .capability .card-1 {
    width: 40%;
  } */
}

@media (max-width: 556px) {
  .intro-manufacturing .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  footer .top-col {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

/* @media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .card:nth-of-type(4),
  .card:nth-of-type(5) {
    display: none;
  }
} */
